$orange: #ff6e14;
$orange-light: rgb(254, 240, 233);
$shadow-light: rgba(58, 58, 58, 0.273);
$white: #ffffff;
$black: #000000;

div,
img {
    width: inherit;
}

html {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
    margin: 0 5vw;
    overflow-x: hidden;
}

nav {
    margin-top: 28px;
    .nav-link {
        color: #ff6e14;
        padding: 4px 20px;
        font-weight: 600;
        border-radius: 12px;
    }
    .nav-link:hover {
        background-color: $orange-light;
        color: $black;
    }
    .navbar-brand {
        color: $orange;
        font-size: 24px;
        font-weight: 700;
        text-decoration: none;
    }
    .navbar-collapse {
        li {
            list-style: none;
        }
    }
}
.annonces-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.annonce-card {
    height: fit-content;
    .price {
        color: $orange;
        font-size: 32px;
        font-weight: 700;
    }
    p {
        padding: 0px 0;
        margin: 0;
        line-break: anywhere;
    }
    .infos-vendeur {
        h4,
        p {
            text-align: center;
        }
        a {
            margin: auto;
        }
    }
    a {
        text-decoration: none;
        color: $black;
    }
    box-shadow: 0px 1px 9px $shadow-light;
    box-shadow: $orange;
    border-radius: 25px;
    overflow: clip;
    padding-bottom: 12px;
    // margin-bottom: 20px;
    margin: 0 12px 40px 12px;
    .card-img {
        overflow: clip;
        max-height: 160px;
        display: flex;
        justify-content: center;
        background-color: $orange;
    }
    max-width: 300px;
    img {
        width: 250%;
        height: 250%;
    }
}
.email-vendeur {
    font-size: 12px;
}
.infos-details,
.infos-vendeur {
    margin: 0 16px;
}

.btn {
    margin-right: 16px;
    float: right;
    padding: 8px 28px;
    font-weight: 700;
    background-color: $orange-light;
    color: $black;
    border-radius: 12px;
}
.btn:hover {
    background-color: $orange;
    color: $white;
}

form {
    width: fit-content;
}

header {
    margin-bottom: 0;
    padding-bottom: 0;
}

.navbar {
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}
@media (max-width: 600px) {
    .annonces-list {
        justify-content: center;
    }
}
